<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>제8대 소프트웨어학과 이룸학생회</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Gamja+Flower|Nanum+Myeongjo|Hi+Melody|Jua|Nanum+Brush+Script|Nanum+Pen+Script&display=swap&subset=korean" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="stylesheets/index.css" rel="stylesheet"> <!--이름 변경 필요-->

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-size: 30px">EROOM</a>
      <button class="navbar-toggler navbar-toggler-right menubtn" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" >홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/introduce">학생회 소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notice/1">공지사항</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/calendar">확생회 일정</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle= "dropdown">대여 관리</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/rent">전공서적</a>
              <a class="dropdown-item" href="/rent_a">보조배터리 & 자전거</a>
              <a class="dropdown-item" href="/rent_b">우산 & 담요</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= logIO_L %>"><%= logIO_T %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('images/main.jpg'); background-size: 100% 100%;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>EROOM</h1>
            <span class="subheading">CBNU SoftWare EROOM</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container-fluid col-md-7">
    <div class="row">
      <div class="IntroDiv">
        <div class="IDheader">전자정보대학 제8대 소프트웨어학과</div>
        <img class="introImg" style="text-align:center; width:100%"src="images/index.PNG"/>
      </div>
      <div class="CoalDiv">
        <div class="CDheader">추천 페이지</div>
        <a href="http://pf.kakao.com/_jgEKxb" target="_blank">
          <img class="CoalImg" style="text-align:center; width:100%"src="images/eroomi.PNG"/>
        </a>
        <a href="#" target="_blank">
          <img class="CoalImg" style="text-align:center; width:100%; margin-top:20px"src="images/URLStudy4.PNG"/>
        </a>
      </div>
      <div class="NoticeDiv">
        <div class="NDheader">공지사항</div>
          <table class ="table table-bordered table-hover" border="1">
            <thead style="text-align:center" class ="thead-dark">
              <tr>
                  <th>제목</th>
                  <th>출처</th>
                  <th>등록일</th>
              </tr>
            </thead>
            <tbody>
            <%
              for(var i = 0; i < 8; i++)
              {
                if(length - i <= 0){
                  i++;
                }
                else{
                  var data = rows[length - i];
                  %>
                  <tr style ="text-align:center">
                      <td><a style="text-decoration:none" href="/notice_read/<%=data.number%>"> <b><%=data.title%></b></a></td> <!--hover 밑줄 없애기 - css 정리 필요-->
                      <td><%=data.source%></td>
                      <td><%=data.date%></td>
                  </tr>
                <%}
              }%>
          </tbody>
        </table>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-dark float-right" id="OverBtn" href="/notice/1"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
  </div>

<!-- <div class="container-fluid col-md-13" style="margin-top:100px; margin-bottom:100px">
  <div style="font-size: 70px; font-family: 'Nanum Pen Script'; float:left;">제휴업체</div>
  <div style="font-size: 50px; font-family: 'Nanum Pen Script'; float:right; margin-right: 530px; margin-top:30px">리스트</div>
    <div id="map" style="width:60%; float: left; height:700px; clear: both"></div>
    <table class ="table table-bordered table-hover " border="1" style="float: left; width:20%">
      <tr>
        <td>
          g
        </td>
      </tr>
      <tr>
        <td>
          d
        </td>
      </tr>
    </table>
    <div style="clear:both;"id="result"></div>
</div>

	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dc1e7091644cb81fa1424316dfceeb40"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(36.6255756, 127.4525355),
			level: 4
		};

		var map = new kakao.maps.Map(container, options);


    var imageSrc = 'images/school_icon.PNG'; // 마커이미지의 주소입니다
        imageSize = new kakao.maps.Size(64, 69); // 마커이미지의 크기입니다
        imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

    // 마커가 표시될 위치입니다
    var markerPosition  = new kakao.maps.LatLng(36.62549272644687, 127.4544471726642);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition,
        image: markerImage // 마커이미지 설정
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);

    // 지도에 클릭 이벤트를 등록합니다
    // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

        // 클릭한 위도, 경도 정보를 가져옵니다
        var latlng = mouseEvent.latLng;

        var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
        message += '경도는 ' + latlng.getLng() + ' 입니다';

        var resultDiv = document.getElementById('result');
        resultDiv.innerHTML = message;
      });

      var iwContent = '<div style="padding:5px;">Hello World!</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
          iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

      // 인포윈도우를 생성합니다
      var infowindow = new kakao.maps.InfoWindow({
          content : iwContent,
          removable : iwRemoveable
      });

      // 마커에 클릭이벤트를 등록합니다
      kakao.maps.event.addListener(marker, 'click', function() {
            // 마커 위에 인포윈도우를 표시합니다
            infowindow.open(map, marker);
      });







    // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
var mapTypeControl = new kakao.maps.MapTypeControl();

// 지도 타입 컨트롤을 지도에 표시합니다
map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

function getInfo() {
    // 지도의 현재 중심좌표를 얻어옵니다
    var center = map.getCenter();

    // 지도의 현재 레벨을 얻어옵니다
    var level = map.getLevel();

    // 지도타입을 얻어옵니다
    var mapTypeId = map.getMapTypeId();

    // 지도의 현재 영역을 얻어옵니다
    var bounds = map.getBounds();

    // 영역의 남서쪽 좌표를 얻어옵니다
    var swLatLng = bounds.getSouthWest();

    // 영역의 북동쪽 좌표를 얻어옵니다
    var neLatLng = bounds.getNorthEast();

    // 영역정보를 문자열로 얻어옵니다. ((남,서), (북,동)) 형식입니다
    var boundsStr = bounds.toString();


    var message = '지도 중심좌표는 위도 ' + center.getLat() + ', <br>';
    message += '경도 ' + center.getLng() + ' 이고 <br>';
    message += '지도 레벨은 ' + level + ' 입니다 <br> <br>';
    message += '지도 타입은 ' + mapTypeId + ' 이고 <br> ';
    message += '지도의 남서쪽 좌표는 ' + swLatLng.getLat() + ', ' + swLatLng.getLng() + ' 이고 <br>';
    message += '북동쪽 좌표는 ' + neLatLng.getLat() + ', ' + neLatLng.getLng() + ' 입니다';
    console.log(message);
    // 개발자도구를 통해 직접 message 내용을 확인해 보세요.
    // ex) console.log(message);
}
	</script> -->

  <hr>
  <!-- Footer -->
  <footer class="footer">
    <div class="container-">
      <div class="row-">
        <div class="col-md-11 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://instagram.com/software_eroom?igshid=12vwurt8xamjq">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            <li class="list-inline-item">
              <a href="https://github.com/SeokLii/EROOM-Website">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">(28644) 충북 청주시 서원구 충대로 1, 충북대학교 <br/> 전자정보대학 소프트웨어학과 S4-1동(전자정보 3관) 109호<br />
                                          TEL : 010-6583-5683 / 010-3302-9138<br />
                                          Copyright © EROOM. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Kakao API -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services,clusterer,drawing"></script>
</body>
</html>
