<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>제8대 소프트웨어학과 이룸학생회</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Gamja+Flower|Hi+Melody|Jua|Nanum+Brush+Script|Nanum+Pen+Script&display=swap&subset=korean" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="stylesheets/clean-blog.min.css" rel="stylesheet"> <!--이름 변경 필요-->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-size: 30px">EROOM</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" >홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/introduce">학생회 소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notice/1">공지사항</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendar">확생회 일정</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rent">대여 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= logIO_L %>"><%= logIO_T %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('images/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>EROOM</h1>
            <span class="subheading">CBNU SoftWare EROOM</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="Ldiv">
        <div class="MLheader">이룸학생회</div>
        <img style="text-align:center; padding: 10px; width:87%"src="images/Student Council introduce1.jpg"/></div>
      <div class="Rdiv">
        <div class="MRheader">공지사항</div>
          <table class ="table table-bordered table-hover " border="1">
            <thead style="text-align:center" class ="thead-dark">
              <tr>
                  <th>제목</th>
                  <th>출처</th>
                  <th>등록일</th>
              </tr>
            </thead>
            <tbody>
            <%
              for(var i = length; i > pagenum; i--)
              {
                var data = rows[i];
                %>
                <tr style ="text-align:center">
                    <td><a style="text-decoration:none" href="/notice_read/<%=data.number%>"> <b><%=data.title%></b></a></td> <!--hover 밑줄 없애기 - css 정리 필요-->
                    <td><%=data.source%></td>
                    <td><%=data.date%></td>
                </tr>
            <%}%>
          </tbody>
        </table>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-dark float-right" href="/notice/1">더보기 &rarr;</a>
        </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer class="footer">
    <div class="container-">
      <div class="row-">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://instagram.com/software_eroom?igshid=12vwurt8xamjq">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            <li class="list-inline-item">
              <a href="https://github.com/SeokLii/EROOM-Website">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">(28644) 충북 청주시 서원구 충대로 1, 충북대학교 전자정보대학 소프트웨어학과 S4-1동(전자정보 3관) 109호<br />
                                          TEL : 010-6583-5683 / 010-3302-9138<br />
                                          Copyright © EROOM. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="JavaScripts/clean-blog.min.js"></script>

</body>

</html>
